
h1 
{
	font-family: "Garamond";
	font-size: 18pt;
	color:red;
	text-align: center;
}


p
{
	font-family: "Arial";
	font-size:10pt;
	color:blue;
	text-align: center;
}
body
{
	
	text-align: center;
}
title
{
	color:yellow;
}